/* APIKeyInput.css */
.api-wrapper {
  margin: 0 auto; /* Center horizontally */
  position: absolute; /* Position div absolutely */
  text-align: center;
  top: 50%; /* Move div to the middle of the page vertically */
  left: 50%; /* Move div to the middle of the page horizontally */
  transform: translate(-50%, -50%); /* Move div to the middle of the page from its center point */
}

.component-container {
  border: 1px solid lime;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-container form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.api-input input {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 0.5em 1em;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  box-sizing: border-box;
}

.component-container button {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.component-container button:hover {
  background-color: lime;
  color: black;
}