.character-image-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align buttons at the start */
  padding-top: 10px;
  gap: 10px; /* Space between buttons */
  border: 1px solid lime;
  margin: 0 auto;
  width: 80%; /* Ensure the container fills its parent's width */
  height: calc(100vh - 350px); /* Adjusted to subtract the height of the selected character display */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  overflow-y: auto; /* Changed to vertical overflow */
}


.image-submit {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
  width: 300px;
  margin-bottom: 0.5em;
}

.character-image-button {
  width: 140px;
  height: 140px;
  background-color: black;
  border: 1px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.character-image-button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Keep image aspect ratio */
}

.character-image-button:hover, .character-button.selected {
  background-color: lime;
  color: black;
}

.character-button.selected {
  border-color: black;
}

.character-image-button:hover, .character-image-button.selected {
  background-color: lime;
  color: black;
}

.selected-character-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.selected-character-image {
  width: 200px; /* Larger size */
  height: 200px;
  border: 5px solid lime;
  margin-bottom: 10px;
}

.pulse-button {
  background-color: black;
  color: lime;
  width: 200px;
  border: 1px solid lime;
  padding: 0.5em 1em;
  font-family: 'Courier New', Courier, monospace;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Existing CSS for other elements... */

