.game-output {
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 1em;
  height: 75vh; 
  width: 70vw;
  overflow-y: auto; 
  /* padding: 1em; */
}

.game-output-info {
  display: flex; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: black;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.game-output-info p:nth-child(1) {
  position: absolute;
  left: 1rem;
}

.game-output-info p:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.game-output-info p:nth-child(3) {
  position: absolute;
  right: 1rem;
}


.game-output-content {
  padding-top: 60px;
}