h2 {
  margin-bottom: 0.5em;
}

.genre-selection-container {
  border: 1px solid lime;
  padding: 1em;
  overflow-y: auto;
  height: calc(65vh);
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em;
}

button {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 0.5em;
  width: calc(50% - 0.5em - 0.25em); /* Adjust the button width */
}

button:hover {
  background-color: lime;
  color: black;
}

.custom-genre-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}

input[type="text"]::placeholder {
  color: lime;
}

.custom-genre-input button {
  width: 100%;
}







