.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #0f0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 2rem;
}

.playing-container {
  display: flex;
  flex-direction: row;
  width: 100%
}

.game-and-user-input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.CharacterInfo {
  flex-shrink: 0;
}

.App .component-container {
  border: 1px solid lime;
  border-radius: 5px;
  overflow: hidden;
}


