/* Mobile styles */
@media screen and (max-width: 768px) {
  /* Adjusting the container for the app */
  .app-container {
    flex-direction: column;
  }

  /* Adjusting GameOutput and CharacterInfo */
  .game-output,
  .character-info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }

  /* Adjusting GameOutput */
  .game-output {
    height:60vh;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
  }

  /* Adjusting CharacterSelection */
  .character-info {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
    overflow-y: auto;
  }

  /* Adjusting UserInput */
  .user-input {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .user-input input {
    width: 100%;
    margin-bottom: 8px;
  }

  .user-input button {
    width: 100%;
  }

  /* Adjusting CharacterInfo details */
  .character-info .character-details {
    display: flex;
    flex-direction: column;
  }

  .character-info .character-details h4,
  .character-info .character-details ul,
  .character-info .character-details p {
    width: 100%;
    margin: 8px 0;
  }

  .genre-selection-container button,
  .character-selection-container button {
    width: 100%; /* Set the button width to 100% on mobile devices */
  }

  /* Moving CharacterInfo below game-and-user-input */
  .playing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-and-user-input {
    order: 1;
  }
  
  .user-input {
    order: 2;
  }
  
  .character-info {
    order: 3;
  }

  .game-output-info {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0.5rem 1rem 1rem;
  }

  .game-output-content {
    padding-top: 65px;
  }

  .game-output-info p:nth-child(1) {
    position: static;
  }

  .game-output-info p:nth-child(2) {
    position: absolute;
    right: 1rem;
    left: auto;
    transform: none;
  }

  .game-output-info p:nth-child(3) {
    position: static;
    margin-top: 0.5rem;
  }

  .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Add this line */
  }
}




